body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  color: #c9d1d9;
  background-color: #0d1117;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This can probably be done better I am not a css pro */
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: normal;
  justify-content: space-evenly;
  gap: 2vh;
  padding: 2vh 5vw;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  min-height: auto;
}


/* This can probably be done better I am not a css pro */
.align {
  min-width: 400px;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}
